@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-size: 1.5rem;
}

h1{
    padding-top: 2rem;
    color:brown;
}

div{
    background-color:#93C5FD;
}
label{
    display: block;
    margin-bottom: 0.8rem;
    font-weight: 650;
    text-align: center;
    color:green;
    padding-top: 1rem;
    font-size: 2rem;
}

input{
    display: block;
    margin:auto;
    width: 20.3rem;
    margin-top: 0.2rem;
    padding: 1rem;
    font-size:large;
    border-radius: 14px;
}

button{
    font-size: 1.5rem;
    background-color: blueviolet;
    color: aliceblue;
    margin:auto;
    padding: 0.5rem;
    margin-top: 1rem;

}

#output-box{
    font-size: 2rem;
    padding: 1.2rem;
    
}

footer{
    text-align: center;
    background-color:#6B7280;  
}

p{
    font-size: 2rem;
    color:white;
    font-family: 'Merienda', cursive;
    padding: 0.8rem;
}

img{
    height: 2rem;
    width: 2rem;
    margin: 0.2rem;
    box-shadow:0px 0px 10px 0px black;
}

img:hover{
    background-color: blue;
}

@media (min-width: 768px) and (max-width: 1199.98px){
    body {
      background-color: lightpink;
    }
  }